<ion-content>
  <ion-button class="ion-padding" routerLink="/"> Back </ion-button>

  <ion-card class="product-detail-card">
    <div class="card-container">
      <div style="padding: 10px">
        <img [src]="product.image" [alt]="product.title" />
      </div>

      <div class="card-container">
        <ion-card-header>
          <ion-card-title>{{ product.title }}</ion-card-title>
          <ion-card-subtitle>
            <strong>
              {{ product.rating.rate }} <ion-icon name="star"></ion-icon> ({{
                product.rating.count
              }})
            </strong>
          </ion-card-subtitle>
          <ion-card-subtitle
            ><strong> price: ${{ product.price }} </strong>
          </ion-card-subtitle>
        </ion-card-header>
      </div>

      <div>
        <ion-card-content>
          <strong>Description:</strong>
          {{ product.description }}

          <ion-button expand="full" (click)="addItemToCart(product)"
            >Add to Cart</ion-button
          >
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-content>
