.cart-image {
    object-fit: contain;
    height: 100px;
    min-width: 80px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.cart-item-first {
    display: flex;
    gap: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}