<ion-card class="product-card">
  <div (click)="openItemDetail(index)">
    <img [src]="product.image" [alt]="product.title" />
    <ion-card-header>
      <ion-card-title>{{ product.title }}</ion-card-title>
      <ion-card-subtitle>
        <strong>
          {{ product.rating.rate }} <ion-icon name="star"></ion-icon> ({{
            product.rating.count
          }})
        </strong>
      </ion-card-subtitle>
      <ion-card-subtitle
        ><strong> price: ${{ product.price }} </strong>
      </ion-card-subtitle>
    </ion-card-header>
  </div>

  <ion-card-content>
    <ion-button (click)="addToCart(product)" expand="full">
      Add to Cart
    </ion-button></ion-card-content
  >
</ion-card>
